.plots-container {
    .tag-wrapper {
        min-height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .button-wrapper {
        display: flex;
        justify-content: flex-end;
        button {
            max-height: 40px;
        }
    }
    .button-wrapper-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .path {
        width: 100%;
        text-align: center;
    }
    .removing-title {
        font-size: 25px;
    }
    .removing-text {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    // plots create page
    .select {
        width: 350px;
    }
    .collapse {
        border-top: none;
        border-bottom: none;
        .header {
            color: $info;
        }
        .collapse-title {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .el-collapse-item__arrow {
            margin: 0 8px 0 10px;
        }
        .el-collapse-item__header,
        .el-collapse-item__content,
        .el-collapse-item__wrap {
            border-bottom: none;
        }
    }
    .plotter-checkbox {
        max-width: 250px;
        margin-top: 10px;
        display: block;
    }
    .plotter-warn {
        margin-top: 10px;
        font-size: 14px;
        color: $red;
    }
    .radio-wrapper {
        margin: 10px 0;
    }
    .input-wrapper {
        margin-top: 10px;
        .input-label {
            display: block;
            margin-bottom: 5px;
        }
    }
    .create-plot {
        margin-top: 20px;
        max-width: 200px;
        width: 100%;
    }

    // view log
    .console {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 500px;
        background: $black;
        border-radius: 5px;
        color: $white;
        overflow: hidden;
        box-sizing: content-box;

        .log-wrapper {
            width: 100%;
            height: 100%;
            overflow: auto
        }

        .log-string {
            margin-bottom: 3px;
            font-weight: 400;
        }
    }

    // plots directories

    .folder-title{
        font-size: 20px;
    }
    .folder-subtitle {
        margin-top: 10px;
        font-size: 14px;
        color: $red;
    }
}
