<template>
    <div class="connection-btn">
        <el-badge
            is-dot
            :type="qualityStatus"
        >
            <el-button
                class="connection-btn__btn"
                size="small"
                :type="qualityButtonStatus"
                plain
                :loading="loading"
            >
                {{ text }}
            </el-button>
        </el-badge>
    </div>
</template>

<script>

import socket from "../../sockets";

const timeoutDelay = 1000 * 60 * 2; // 2 минуты
let timeout = null;

export default {
    name: 'ConnectionBtn',
    data () {
        return {
            loading: true,
            ping: {
                timeout: null,
                value: 0,
            },
            quality: null,
            status: null
        }
    },
    computed: {
        qualityStatus () {
            let statusType = 'danger';
            if (!this.status) {
                return statusType;
            }
            switch (true) {
                case this.ping.value <= 20:
                    statusType = 'success';
                    break;
                case this.ping.value <= 60:
                    statusType = 'warning';
                    break;
            }

            return statusType;
        },
        qualityButtonStatus () {
            return this.status ? 'success' : 'warning';
        },
        text () {
            const { status } = this;
            return status ? `Online (last challenge ${this.ping.value} s ago)` : 'Offline (No recent challenges in logs)';
        },
    },
    mounted () {
        socket.on('harvester-connection', payload => {
            this.setConnectionData(payload);
            // offline
            if (timeout) {
                clearTimeout(timeout);
            }
            timeout = setTimeout(() => {
                this.setOffline();
            }, timeoutDelay);
            // ping
            if (this.ping.timeout) {
                clearInterval(this.ping.timeout);
                this.ping.value = 0;
            }
            this.ping.timeout = setInterval(() => {this.ping.value++}, 1000);
        });
    },
    unmounted () {
        socket.off('harvester-connection');
    },
    methods: {
        setConnectionData (data) {
            const { connection } = data;
            this.quality = connection;
            this.loading = false;
            this.status = true;
        },
        setOffline () {
            this.quality = null;
            this.status = null;
            this.ping.value = 0;
            clearTimeout(timeout);
            clearTimeout(this.ping.timeout);
        },
    }
}

</script>

<style lang="scss" scoped>

    .connection-btn {

        &__btn {
            min-width: 160px;
            pointer-events: none;
        }
    }

</style>
