<template>
    <el-container direction="vertical">
        <el-row :gutter="20">

            <el-col class="card-wrapper" :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        Total Network Space
                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="loaders.poolNetSpace" key="loader">
                            <i class="el-icon-loading" />
                        </div>
                        <div v-else key="data">
                            <template v-if="errors.netSpaces">
                                Data can't load from server
                            </template>
                            <template v-else>
                                {{poolNetSpace}}
                            </template>
                        </div>
                    </transition>
                </el-card>
            </el-col>

            <el-col class="card-wrapper" :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        Total Size of Plots
                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="loaders.poolNetSpace" key="loader">
                            <i class="el-icon-loading" />
                        </div>
                        <div v-else key="data">
                            <template v-if="errors.netSpaces">
                                Data can't load from server
                            </template>
                            <template v-else>
                                {{userNetSpace}}
                            </template>
                        </div>
                    </transition>
                </el-card>
            </el-col>

            <el-col class="card-wrapper" :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        My Balance
                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="loaders.userBalance" key="loader">
                            <i class="el-icon-loading" />
                        </div>
                        <div v-else key="data">
                            <template v-if="errors.userBalance">
                                Data can't load from server
                            </template>
                            <template v-else>
                                {{balance}}
                            </template>
                        </div>
                    </transition>
                </el-card>
            </el-col>

            <el-col class="card-wrapper" :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        Pending Withdrawals
                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="loaders.pendingWithdrawal" key="loader">
                            <i class="el-icon-loading" />
                        </div>
                        <div v-else key="data">
                            <template v-if="errors.pendingWithdrawal">
                                Data can't load from server
                            </template>
                            <template v-else>
                                {{pendingWithdrawalTotal}}
                            </template>
                        </div>
                    </transition>
                </el-card>
            </el-col>

        </el-row>
        <el-row class="mt-20">
            <el-col>
                <plots-time-chart />
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col>
                <proof-table />
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col>
                <proofs-chart />
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
// components
import plotsTimeChart from "../components/dashboard/plotsTimeChart";
import proofsChart from "../components/dashboard/proofsChart";
import proofTable from "../components/dashboard/proofTable";
// utils
import iecMetricsMixin from '../mixins/iec-metrics';

export default {
    name: "Dashboard",
    data() {
        return {
            loadings: {
                volumes: false,
                balance: false,
                pendingWithdrawal: false
            },
            poolNetSpace: '0 GiB',
            userNetSpace: '0 GiB',
            userPlots: 0,
            loaders: {
                userNetSpace: true,
                userBalance: true,
                poolNetSpace: true,
                pendingWithdrawal: true
            },
            fetchInterval: null,
            errors: {
                netSpaces: false,
                userBalance: false,
                pendingWithdrawal: false
            }
        }
    },
    mixins: [
        iecMetricsMixin
    ],
    computed: {
        balance() {
            return (Number(this.$store.getters['user/getBalance'])).toFixed(16);
        },
        pendingWithdrawalTotal() {
            return this.$store.state.user.pendingWithdrawals
                .reduce((res, item) => {
                    return res + (+item.amount) + (+item.fee);
                }, 0);
        }
    },
    methods: {
        getInfo() {
            const {
                loadings: {
                    volumes,
                    balance,
                    pendingWithdrawal
                }
            } = this;

            if (volumes && balance && pendingWithdrawal) {
                return false;
            }

            const timestamp = Date.now();

            this.loadings.volumes = true;
            this.loadings.balance = true;
            this.loadings.pendingWithdrawal = true;

            // получаем баланс пользователя
            this.axios.get(`/api/user/balance?t=${timestamp}`)
                .then(resp => {
                    const respData = resp.data;
                    if (!respData.success) {
                        console.error('some error has occured', respData);
                        return false;
                    }
                    const { answer: { amount } } = respData;
                    this.$store.commit('user/setBalance', amount);
                })
                .catch(error => {
                    console.error(error);
                    this.errors.userBalance = true;
                })
                .finally(() => {
                    this.loaders.userBalance = false;
                    this.loadings.balance = false;
                });

            // получаем ожидаемые выплаты
            this.axios.get(`/api/user/pending-withdrawals?t=${timestamp}`)
                .then(resp => {
                    const respData = resp.data;

                    if (!respData.success) {
                        console.error('some error has occured', respData);
                        return false;
                    }

                    const { answer } = respData;

                    this.$store.commit('user/setPendingWithdrawals', answer);
                })
                .catch(error => {
                    console.error(error);
                    this.errors.pendingWithdrawal = true;
                })
                .finally(() => {
                    this.loaders.pendingWithdrawal = false;
                    this.loadings.pendingWithdrawal = false;
                });

            // получаем статистику о пуле
            this.axios.get(`/api/user/volume?t=${timestamp}`)
                .then(resp => {
                    const respData = resp.data;
                    if (!respData.success) {
                        console.error('some error has occured', respData);
                        return false;
                    }
                    const {
                        answer: {
                            pool,
                            user,
                            totalPlotsCount
                        }
                    } = respData;
                    this.poolNetSpace = this.getIecValue(Number(pool)).toString();
                    this.userNetSpace = this.getIecValue(Number(user)).toString();
                    this.userPlots = totalPlotsCount;
                })
                .catch(error => {
                    console.error(error);
                    this.errors.netSpaces = true;
                })
                .finally(() => {
                    this.loaders.poolNetSpace = false;
                    this.loaders.userNetSpace = false;
                    this.loadings.volumes = false;
                });
        },
    },
    async mounted() {
        await this.getInfo();
        this.fetchInterval = setInterval(this.getInfo, 60 * 2000);
    },
    unmounted() {
        clearInterval(this.fetchInterval);
    },
    components: {
        plotsTimeChart,
        proofsChart,
        proofTable
    }
}
</script>
