<template>
    <div class="form-wrapper">
        <el-form
            @submit.prevent="onLogin"
            :model="form"
            :rules="rules"
            label-position="top"
            ref="loginForm">
            <el-form-item class="label" label="Email" prop="login" :error="errors.login">
                <el-input v-model="form.login" type="email" required autocomplete="off"/>
            </el-form-item>
            <el-form-item class="label" label="Password" prop="password" :error="errors.password" >
                <el-input v-model="form.password" type="password" required autocomplete="off"/>
            </el-form-item>

            <div class="button-wrapper">
                <el-button type="primary" native-type="submit">
                    Sign in
                </el-button>
                <div class="description">OR</div>
                <router-link to="/registration">
                    <el-button type="primary">
                        Registration
                    </el-button>
                </router-link>
            </div>
        </el-form>
    </div>
</template>

<script>

import ElLoading from 'element-plus/lib/el-loading';

export default {
    name: 'LoginPage',
    data() {
        return {
            form: {
                login: '',
                password: '',
            },
            rules: {
                login: [
                    { type: 'email', message: "Email must be email", trigger: "blur"}
                ],
            },
            errors: {
                login: null,
                password: null
            }
        }
    },
    methods: {
        onLogin() {
            this.$refs.loginForm.validate(async (valid) => {
                if (valid) {
                    const {
                        login,
                        password
                    } = this.form;

                    let loading = ElLoading.service({
                        lock: true,
                        text: 'Loading',
                        spinner: 'el-icon-loading',
                        background: 'rgba(0, 0, 0, 0.7)'
                    });

                    try {
                        let resp = await this.axios.post('/api/login', {
                            login,
                            password
                        });

                        if (resp.data.success) {
                            this.$store.commit('user/setAuth', true);
                            if (resp.data.answer.checkChia) {
                                this.$store.commit('user/setPathStatus', resp.data.answer.checkChia);
                                this.$router.push('/dashboard');
                            } else {
                                this.$router.push('/request_chia_path');
                            }
                        } else {
                            if (resp.data.answer) {
                                if (resp.data.answer.error === 'Wrong password') {
                                    this.errors.password = resp.data.answer.error;
                                } else {
                                    this.errors.login = resp.data.answer.error || 'an error has occured, please contact support';
                                }
                            } else {
                                this.errors.login = 'an error has occured, please contact support'
                            }
                        }
                    } catch (e) {
                        console.error(e);
                        this.errors.login = 'an error has occured, please contact support'
                    }

                    loading.close();
                }
            })
        }
    }
}

</script>

