<template>
    <el-container direction="vertical" class="content-wrapper">
        <el-row :gutter="20" class="row">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        <div class="header-description">
                            We could not determine the chia directory,
                            <br>
                            Specify the path to the directory manually.
                            <br>
                            <br>
                            On windows you need to specify the path like: "C:\\Users\\YourUser\\AppData\\Local\\chia-blockchain\\app-1.1.7\\resources\\app.asar.unpacked\\daemon\\chia.exe".
                            <br>
                            <br>
                            On ubuntu and other systems you need to specify the path like: "~/chia-blockchain" or "/path/to/the/chia-blockchain".
                        </div>
                    </template>
                    <el-form
                        :model="form"
                        :rules="rules"
                        ref="pathForm"
                        @submit.prevent="onSubmit">
                        <el-form-item class="request-chia-path" prop="path" :error="pathError">
                            <el-input v-model="form.path" required/>
                        </el-form-item>
                        <el-button class="button" type="primary" native-type="submit">
                            SUBMIT
                        </el-button>
                    </el-form>
                </el-card>
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
export default {
    name: "requestChiaPath",
    data() {
        return {
            form: {
                path: '',
            },
            rules: {
                path: [{
                    required: true, message: 'Enter path to your chia folder', trigger: 'blur'
                }]
            },
            pathError: null
        }
    },
    methods: {
        async onSubmit() {
            this.$refs.pathForm.validate(async (valid) => {
                if (valid) {
                    try {
                        let resp = await this.axios.post('/api/user/set-chia', {
                            path: this.form.path
                        })

                        if (resp.data.success) {
                            this.$store.commit('user/setPathStatus', true);
                            this.$router.push('/dashboard');
                        } else {
                            this.pathError = 'Wrong path to chia folder';
                        }
                    } catch(e) {
                        console.error(e);
                        this.pathError = 'an error has occured, please contact support';
                    }
                }
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .row, .el-card {
        width: 100%;
    }
    .header-description {
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
    }
    .button {
        display: block;
        margin: 20px auto 0;
        max-width: 150px;
        width: 100%;
    }
}
</style>

<style lang="scss">
.request-chia-path {
    .el-form-item__error {
        width: 100%;
        text-align: center;
    }
}
</style>
